body {
  font-family: Arial, sans-serif;
  background-color: #f7f2f9;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffc1e3;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 3em;
  color: #817df6;
}

header h2 {
  margin: 0;
  font-size: 1.5em;
  color: #83afe9;
}

header h3 {
  margin: 0;
  font-size: 1.5em;
  color: #570b9d;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #ff69b4;
  font-weight: bold;
}

main {
  padding: 20px;
}

.image-gallery { display: flex; justify-content: space-around; /* 使用基本的對齊方式 */
  flex-wrap: wrap; 
} 

.image-gallery img {
  width:5cm;  /* 指定寬度為5公分 */
  height: 5cm; /* 指定高度為5公分 */
  margin: 1px;/* 手動調整間距 */ 
}


.image-gallery1 img {
  width:5cm;  /* 指定寬度為5公分 */
  height: 9cm; /* 指定高度為9公分 */
  margin: 1px;/* 手動調整間距 */ 
}

.image-gallery2 img {
  width: 9.5cm;  /* 指定寬度為9.5公分 */
  height: 9.5cm; /* 指定高度為9.5公分 */
  margin: 0.5px;/* 手動調整間距 */ 
}

figure {
  margin: 20px 0;
  text-align: center;
}

figure figcaption {
  margin-top: 10px;
  font-style: italic;
  color: #666;
}

footer {
  background-color: #ffc1e3;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}